# Project
PROJECT_NAME=wp-sk

# Mariadb
MARIADB_DATABASE="${PROJECT_NAME}_dev"
MARIADB_USER="${PROJECT_NAME}"
MARIADB_PASSWORD="${PROJECT_NAME}"
MARIADB_ROOT_PASSWORD="${PROJECT_NAME}_*!"

# Wordpress host
WORDPRESS_HOST="${PROJECT_NAME}.local.fr"

# Wordpress database
WORDPRESS_DB_HOST="mariadb"
WORDPRESS_DB_NAME="${MARIADB_DATABASE}"
WORDPRESS_DB_USER="${MARIADB_USER}"
WORDPRESS_DB_PASSWORD="${MARIADB_PASSWORD}"

# Wordpress security salt keys (phrase)
# IMPORTANT to define it seriously
AUTH_KEY="put your unique phrase here"
SECURE_AUTH_KEY="put your unique phrase here"
LOGGED_IN_KEY="put your unique phrase here"
NONCE_KEY="put your unique phrase here"
AUTH_SALT="put your unique phrase here"
SECURE_AUTH_SALT="put your unique phrase here"
LOGGED_IN_SALT="put your unique phrase here"
NONCE_SALT="put your unique phrase here"
